moodle/
moodledata/
moodledata-docker/
moodle.pod.moodle-app-758d56f55-2lbsc/
misc/
.env.*
README.LOCAL.md
README.PATHFINDER.md
.dockercfg
.vscode/*
moodle.docker.config.php
app/config/sync/moodle-config-docker.php
vitess/
docker.tar.gz
.docker/config.json